@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1240px;
    margin-inline: auto;
}

nav {
    background-color: #FDC067;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0 100px;
    font-family: 'Poppins', sans-serif;
}

.navLogo {
    width: 150px;
    height: 100%;
}

.navLogo img {
    width: 100%;
}

.navLinks {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.navLinks a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #00292D;
    text-transform: uppercase;
    padding: 0 30px;
    margin-left: 8px;
    height: 100%;
    transition: all 0.4s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.navLinks a:hover,
.navLinks a:nth-child(2) {
    color: #DDAB63;
    background-color: #00292D;
}

.head {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px;
}

.head img {
    width: 100%;
}

.head-text {
    font-size: 80px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00292D;
    -webkit-text-stroke: 4px #FDC067;
    font-family: 'Poppins', sans-serif;
}
.hero {
    width: 100%;
    display: flex;
}

.banner {
    background-color: rebeccapurple;
    width: 50%;
    contain: content;
    overflow: hidden;
    border-radius: 3px;
}

.banner img {
    width: 100%;
    height: 100%;
}

.predit-price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DDAB63;
    background-color: #00292D;
    text-align: center;
    padding: 15px 5px;
    font-family: 'Poppins', sans-serif;
}

.card-body {
    display: flex;
    flex: 1;
    justify-content: end;
    padding: 35px;
}

.card-body form {
    width: 100%;
}

.form-ins {
    width: 100%;
    text-align: right;
    margin-bottom: 7px;
}
.form-ins label {
    margin-top: 5px;
    text-transform: uppercase;
}

.form-ins select,
.form-ins input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding: 12px 20px;
    color: #DDAB63;
    background-color: #00292D;
}

.form-ins input {
    border: 2px solid black;
    outline: none;
    border-radius: 7px;
}

.form-ins select {
    border: none;
    border-radius: 7px;
}

.predict-btn {
    width: 100%;
    margin-top: 7px;
}

.predict-btn .btn {
    width: 100%;
    padding: 15px 18px;
    color: #00292D;
    background-color: #DDAB63;
    outline: none;
    border: none;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}


.footer {
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    background-color: #00292D;
    color: #FDC067;
}

